<%- include('../partials/header') %>
    <a href="/skills/addSkill">Add A Skill</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
               
                </form>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                -
                <%= s.learned ? 'done' : 'not done' %>
            </li>
            <% }); %>
    </ul>
    <%- include('../partials/footer') %>